<!-- Header -->
%header
  .container
    .row
      .col-lg-6
        = image_tag 'anil.png', class: 'img-responsive'
      .col-lg-6
        .intro-text
          %span.name
            Anil Maurya
          %br
          %span.skills
            Programmer - Full Stack Web Developer

<!-- Portfolio Grid Section -->
%section{:id => "portfolio"}
  .container
    .row
      .col-lg-12.text-center
        %h2 Open Source
        %hr.star-primary
    .row
      - ['bidder', 'burst_balloon', 'hash_tags_on_graph', 'portfolio', 'distributed_library', 'letscontribute'].each_with_index do |image_name, index|
        .col-sm-4.portfolio-item
          = link_to 'javascript:void(0)', data: {target: "#portfolioModal#{index}"}, class: "portfolio-link" do
            .caption
              .caption-content
                %i.fa.fa-search-plus.fa-3x
            = image_tag "#{image_name}.png", class: 'img-responsive'

<!-- About Section -->
%section.success{:id => "about"}
  .container
    .row
      .col-lg-12.text-center
        %h2 About
        %hr.star-light
    .row
      .col-lg-4.col-lg-offset-2
        %p I enjoy programming. I am enthusiatic about Ruby, Rails, Ember, Games and Open Source. Currently I am following my passion with #{link_to 'Josh Software', 'http://joshsoftware.com', class: 'color_white', target: '_blank'}.
      .col-lg-4
        %p Besides writing codes I enjoy playing Football, helping on stackoverflow, reading on quora, listening music, watching movies/series, playing computer/mobile games.
        %br Sometimes I wonder how people get bored when we have so many things to do.

<!-- Contact Section -->
%section{:id => "contact"}
  .container
    .row
      .col-lg-12.text-center
        %h2 Contact Me
        %hr.star-primary
    .row
      .col-lg-8.col-lg-offset-2
        = form_for 'contact' do |f|
          .row.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              = label_tag 'Name'
              = text_field_tag 'name', nil, placeholder: 'Name', class: 'form-control'
              %p.help-block.text-danger
          .row.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              = label_tag 'Email Address'
              = text_field_tag 'email', nil, placeholder: 'Email Address', class: 'form-control'
              %p.help-block.text-danger
          .row.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              = label_tag 'Phone No.'
              = text_field_tag 'phone', nil, placeholder: 'Phone No.', class: 'form-control'
              %p.help-block.text-danger
          .row.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              = label_tag 'Message'
              = text_area_tag 'message', nil, placeholder: 'Message', class: 'form-control', rows: '5'
              %p.help-block.text-danger
          #success
          .row
            .form-group.col-xs-12
              = f.submit 'Send', class: "btn btn-success btn-lg send_btn"
